@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

@font-face {
  font-family: 'Fuente';
  src: url('../font/Snowinter.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all .25s linear;
}

.button {
  background: #E0632C;
  color: #581185;
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  transform: translateX(-1.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  font-size: 1rem;

  &:hover {
    background: #D94694;
    color: #17124D;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.container {
  background: #1b1e25;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20rem;
  }
}

.conten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}