* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all .25s linear;
}

body {
  background: #031227;
}

.button {
  background: #E0632C;
  color: #440a68;
  padding: .3rem 1.1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  &:hover {
    background: #D94694;
    color: #17124D;
  }

  svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.button-icon {
  background: #D94694;
  color: #17124D;
  padding: .3rem 1.1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 1.3rem;
  }

  &:hover {
    background: #3b63e6;
    color: #440a68;
  }

  svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.container {
  background: #031227;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24rem;

    @media (width<768px) {
      width: 20rem;
    }
  }
}

.conten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}

.conten .saludo {
  cursor: pointer;
  width: 8.5rem;
  transform: translateX(-2rem);
  margin-bottom: .5rem;
  animation: float 3.5s linear infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translate(-2rem, 0rem);
  }

  50% {
    transform: translate(-2rem, 1rem);
  }

}

.buttons {
  display: flex;
  gap: .4rem;
  justify-content: center;
}


.image-container {
  position: relative;
  width: 200px;
  height: 510px;
  margin-bottom: .7rem;

  @media (width<768px) {
    height: 410px;
  }
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: opacity .6s linear;
}

.image-back {
  opacity: 0;
}

.image-container:hover .image-back {
  opacity: 1;
}

.image-container:hover .image-front {
  opacity: 0;
}