@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161616;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

label {
  display: inline-block;
  background-color: #161616;
  padding: 16px;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #783aec;
  text-align: center;

  &:hover {
    border-color: #602ae0;
    background-color: #602ae0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.btn {
  background-color: #783aec;
  border-radius: 10px;
  color: #fff;
  padding: 16px;
  width: 300px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #602ae0;
  }
}

.separator {
  text-align: center;
  width: 300px;
  margin: 16px 0px;
  color: #fff;
}

.title {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.text-loading {
  font-size: 2rem;
}