@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

:root {
    --color-1: #6cb94d;
    --color-2: #fdf7a3;
    --color-3: #ffe6e6;
    --sombra: #000000;
}

html {
    /* para movil  */
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Freckle Face", system-ui;
    overflow: hidden;
    background: radial-gradient(circle, #161616, #000000);
    color: #fff;
    user-select: none;
    /* para movil  */
    position: relative
}

/* ==== Pantalla inicial ==== */
.bgoverlay {
    background: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.container {
    position: relative;
    width: 200px;
    /* Más pequeño */
    height: 200px;
    /* Más pequeño */
    text-align: center;
}

.ico {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
}

.ico .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: "Freckle Face", system-ui;
    cursor: pointer;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;

}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12em;
    /* Más pequeño */
    font-family: FontAwesome;
    content: "\f004";
    color: red;
    /* Fucsia fuerte */
    opacity: 0.7;
}

.ico2:before,
.ico2:after {
    color: red;
    /* Fucsia claro */
}

.ico:after {
    animation: explode 4s infinite;
}

.ico2:before {
    animation: explodeSmall 3s infinite;
}

.ico2:after {
    animation: explodeSmall 2s infinite;
}

@keyframes explode {
    from {
        transform: scale(1);
        opacity: .5;
    }

    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

@keyframes explodeSmall {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* ==== Tarjeta final ==== */
#mainContent {
    display: none;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#audioToggle {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 5;
    transition: transform 0.3s ease;
}

#audioToggle:hover {
    transform: scale(1.2);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.6;
}

.card {
    text-align: center;
    max-width: 650px;
    padding: 20px;
    z-index: 2;
}

.card img {
    width: 550px;
    opacity: 0;
    filter: drop-shadow(0 5px 15px hsla(0, 0%, 29%, 0.4));
    margin-bottom: 2rem;

    @media (width<768px) {
        width: 350px;
    }
}

.text span {
    display: inline-block;
    margin: 0 4px;
    font-size: 2.5rem;
    color: var(--color-2);
    opacity: 0;
    line-height: 3rem;
    text-shadow: 0 0px 20px var(--sombra);
}


.heart {
    position: absolute;
    font-size: 26px;
    pointer-events: none;

}

#bgVideo {
    opacity: 0.3;
    /* Ajusta el valor según lo que prefieras */
    transition: opacity 0.5s;
}